#about-page {
    font-size: 8rem;
    text-transform: uppercase;
   
    width: 80vw;
    height: 60vh;
    text-align: center;
}

.about-mid {
   display: flex;
   gap: 0.4rem;
}

.about-info {
    width: 40vw;
}