#about-page {
    font-size:2rem;
    text-transform: capitalize;
   
    width: 80vw;
    
    text-align: center;
}

.about-mid {
   display: flex;
   gap: 0.4rem;
   flex-wrap: wrap;
   flex-direction: column;
}

.about-info, .abt-context {
    /* width: 25vw; */
    display: flex;
    flex-direction: column;
    
}
#context {
    width: 75vw;
}

.abt-img {
    background-color: rgba(54, 4, 4, 0.685);
    width: 75vw;
    
}

.md-editor {
    width: 80vw;
    height: 75vh;
}

@media screen and (min-width: 670px) {
    #abt-info {
        flex-direction: row-reverse;
    }
    .about-info, .abt-context {
        flex-direction: row;
        justify-content: center;
        gap: 0.8em;

    }
    .abt-pg {
        display: flex;
        flex-direction: column;
        width: 40vw;
    }
    .abt-img {
        width: 40vw;
    }

}