#about-page {
    font-size:2rem;
    text-transform: capitalize;
   
    width: 20vw;
    
    text-align: center;
}

.about-mid {
   display: flex;
   gap: 0.4rem;
   flex-wrap: wrap;
   flex-direction: column;
}

.about-info, .abt-context {
    /* width: 25vw; */
    display: flex;
    flex-direction: column;
    
}
#context {
    width: 75vw;
}

.abt-img {
    background-color: rgba(0, 3, 189, 0.945);
    width: 90vw;
    height: 35vh;
    
}

.abt-img > img {
    width: 100%;
    height: 100%;
}

#top-img {
    width: 90vw;
    height: 40vh;
}

.md-editor {
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(97, 97, 97);
   
}

.footer {
    background-color: rgba(255, 255, 255, 0.952);
    /* padding: 0.8em; */
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.938);
    border-radius: 0.4em;
}

#txtarea {
    resize: none;
    width: 100%;
    height: 60vh;
    background-color: transparent;
    border: none;
    font-family: 'Acme', sans-serif;
}
.md-edit {
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 10%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}

.abt-pg > h4 {
    text-transform: uppercase;
}
.md-edit > textarea {
    resize: none;
    width: 90%;
    height: 80%;
    background-color: rgb(29, 28, 28);
    color: rgba(240, 248, 255, 0.932);
    border-radius: 8px;
    border: none;
    
}

.md-btns {
    display: flex;
   justify-content: center;
   align-items: center;
    gap: 0.7em;
    width: 90%;
}

#md-btn {
    width: 30%;
    background-color: rgb(71, 71, 71);
    color: rgb(218, 218, 218);
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    border-radius: 0.2em;
    
}
@media screen and (min-width: 670px) {
    #abt-info {
        flex-direction: row-reverse;
    }
    .about-info, .abt-context {
        flex-direction: row;
        justify-content: center;
        gap: 0.8em;

    }
    .abt-pg {
        display: flex;
        flex-direction: column;
        width: 40vw;
    }
    .abt-img {
        width: 40vw;
    }

    #top-img {
        width: 100%;
        height: 40vh;
    }

    .abt-img > img {
        width: 100%;
        height: 100%;
    }

}